# Backend
backend/__pycache__
backend/*.pyc
backend/venv/
backend/.env
backend/.DS_Store

# Frontend
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.DS_Store

# Logs
*.log

# OS
.DS_Store
Thumbs.db